<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>
        {% if page.title %}
            {{ page.title }}
        {% else %} 
            {{ site.name }} &mdash; {{ site.description }}
        {% endif %}
    </title>

    {% if site.highlighter %}
        <link rel='stylesheet' href='{{ site.url }}/assets/css/syntax.css' type='text/css'>
    {% endif %}
	
	<!-- Meta Tags -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="theme-color" content="#000000" />
	<meta name="description" content="BadComoc's Blog" />

	<!-- Social Media Tags -->
	<meta property="og:title" content="BadComoc's Blog" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="BadComoc's Blog" />
	<meta property="og:image" content="/blog/favicon/favicon.png" />
	<meta property="og:url" content="https://badcomoc.dev/" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="BadComoc's Blog" />
	<meta name="twitter:description" content="BadComoc's Blog" />
	<meta name="twitter:image" content="/blog/favicon/favicon.png" />
	<meta name="twitter:image:alt" content="The website's favicon." />

	<script type="application/ld+json">{
	"@context": "http://schema.org",
	"@type": "Organization",
	"name": "BadComoc",
	"founder": { "@type": "Person", "name": "BadComoc", "url": "https://badcomoc.dev/about/" },
	"url": "https://badcomoc.dev/"
	}</script>

	<!-- Favicons -->
	<link rel="icon" type="image/png" sizes="32x32" href="/blog/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/blog/favicon/favicon-16x16.png">
	<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/blog/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/svg+xml" sizes="any" href="/blog/favicon/favicon.png">
    
	<meta name='viewport' content='width=device-width, initial-scale=1'>

</head>

<body>
    {% include header.html %}

    {{ content }}
<hr>

</body>
</html>
