---
layout: default
---
<div class="row">
	<div class="column">
		<div id="panel">
			<div id="inner-panel">
				<h1>{{ page.title }}{{ page.shortUrl }}</h1>
			</div>
			<div id="inner-panel">
				<h2>Table of content:</h2>
				{{ content | toc_only }}
			</div>
		</div>
		{{ content | inject_anchors }}
	</div>
	<div class="column" style="text-align: right;">
		/
		<a href="{{ site.url }}{{ site.baseurl }}/">blog</a>
		/
		<a href="#">{{ page.date | date: "%Y" }}</a>
		/
		<a href="#">{{ page.date | date: "%m" }}</a>
		/
		<a href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
		/
	</div>
</div>
